#html{
  background-color: whitesmoke;
}
#header {
  background-color: lightblue;
  border: 3px black solid;
  text-align: center;
  
}

#mainContent {
  background-color: whitesmoke;
  align-content: center;
  padding: 25px;
  text-align: justify;
  max-width: 100%;
  

}

#links {
  background-color: lightblue;
}

#footer {
  background-color: navy;
  border: 3px black solid;
}

h1      {color: black;}
h2      {color: navy;}
h3      {color: aqua;}
h4      {color: orangered;}
h5      {color: teal}
h6      {color: pink}




  
