
#header {
  background-color: lightblue;
  border: 3px black solid;
  text-align: center;
  
}

#mainContent {
  background-color: white;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0%;
  align-content: center;
  padding: 25px;
  text-align: justify;
  max-width: 100%;
  

}

#links {
  background-color: lightblue;
  border: 3px lightblue solid;
}

#footer {
  background-color: navy;
  border: 3px black solid;
  text-align: center;
}

h1      {color: black;}
h2      {color: navy;}
h3      {color: aqua;}
h4      {color: orangered;}
h5      {color: teal}
h6      {color: pink}

ul.nav {
  padding-left: 0px;
  text-align: center;
}
ul.nav > li {
  display: inline-block;
  padding: 10px 20px;
}
ul.nav > li:hover{
  background-color: navy;
}
ul.nav > li > a {
  color: whitesmoke;
  text-decoration: none;
}